{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div class="text-center">
            <h1>Welcome back, {{ current_user.username }}</h1>
        </div>
    {% endif %}

    <div class="row">
        {% for product in products %}
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card mx-auto">
                    <img src="{{ url_for('static', filename='images/' ~ product.image) }}" alt="{{ product.name }}" class="img-responsive" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">RM {{ product.price }}</p>

                        {% if product.id in in_cart %}
                            <div class="btn-group">
                                <button class="btn btn-primary update-quantity" data-product-id="{{ product.id }}" data-action="decrease">
                                    {% if in_cart[product.id] == 1 %}
                                        <i class="fa-solid fa-trash-can"></i>
                                    {% else %}
                                        -
                                    {% endif %}
                                </button>
                                <button class="btn btn-primary disabled">{{ in_cart[product.id] }}</button>
                                <button class="btn btn-primary update-quantity" data-product-id="{{ product.id }}" data-action="increase">+</button>
                            </div>
                        {% else %}
                            <button class="btn btn-primary update-quantity" data-product-id="{{ product.id }}" data-action="add">Add to cart</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endblock %}
