{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div class="text-center">
            <h1>Welcome back, {{ current_user.username }}</h1>
        </div>
    {% endif %}

    <div class="row">
        {% for product in products %}
            <div class="col-6 col-md-4 col-lg-3" id="product-{{ product.id }}">
                <div class="card mx-auto">
                    <img src="{{ url_for('static', filename='images/' ~ product.image) }}" alt="{{ product.name }}" class="img-responsive" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">RM {{ product.price }}</p>

                        <!-- Button group when product in cart -->
                        <div class="btn-group" style="{% if product.id not in in_cart %}display: none;{% endif %}">
                            <button class="btn btn-primary update-quantity" data-product-id="{{ product.id }}" data-action="decrease">
                                {% if product.id in in_cart and in_cart[product.id] == 1 %}
                                    <i class="fa-solid fa-trash-can"></i>
                                {% else %}
                                    -
                                {% endif %}
                            </button>
                            <button class="btn btn-primary disabled">
                                {% if product.id in in_cart %}{{ in_cart[product.id] }}{% else %}0{% endif %}
                            </button>
                            <button class="btn btn-primary update-quantity" data-product-id="{{ product.id }}" data-action="increase">+</button>
                        </div>

                        <!-- Add to cart -->
                        <button class="btn btn-primary update-quantity add-to-cart-btn" data-product-id="{{ product.id }}" data-action="add" style="{% if product.id in in_cart %}display: none;{% endif %}">
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endblock %}
